a{
    text-decoration:none!important;
    color:inherit!important;
}
body{
  background: #1c1e1f; 
  background: -webkit-linear-gradient(to right, #38393b, #1c1e1f);
  background: linear-gradient(to right, #38393b, #1c1e1f);
}