body {
  background: #1c1e1f; 
  background: -webkit-linear-gradient(to right, #38393b, #1c1e1f);
  background: linear-gradient(to right, #38393b, #1c1e1f);
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    font-family: sans-serif;

}

input[type=text],
input[type=password],
input[type=email] {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.5);
    margin: 1rem 0;
    width: 290px;
    padding: 20px 0px 15px 10px;
}

.login-link {
    text-decoration: none;
    margin-top: 2rem;
}

.form {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 25rem;
    padding: 2rem 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=submit] {
    width: 300px;
    padding: 15px 0;
    font-size: large;
    margin-top: 2rem;
}

span {
    color: rgb(0, 89, 255);
}

p {
    font-size: 1.5rem;
    font-weight: 900;
    opacity: .8;
}

a:nth-of-type(1) {
    color: black;
    opacity: .7;
    font-weight: 500;
}

a:nth-of-type(2) {
    color: rgb(0, 89, 255);
}


input[type=text]:focus {
    outline: 0;
    border-bottom: 2px solid rgba(0,0,0,.8);

}

input[type=email]:focus {
    outline: 0;
        border-bottom: 2px solid rgba(0,0,0,.8);
}

input[type=password]:focus {
    outline: 0;
        border-bottom: 2px solid rgba(0,0,0,.8);
}