body {
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background: #1c1e1f; 
    background: -webkit-linear-gradient(to right, #38393b, #1c1e1f);
    background: linear-gradient(to right, #38393b, #1c1e1f);
    font-family: sans-serif;
}

input[type=text],
input[type=password],
input[type=email] {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.5);
    margin: 1rem 0;
    width: 18.125rem;
    padding: 20px 0px 15px 10px;
}

.login-link {
    text-decoration: none;
    font-weight: 900 !important;
    color: darkblue !important;
}

.contain {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 2rem 3.5rem;
    border-radius: 20px;
}

input[type=submit] {
    width: 18.125rem;
    padding: 15px 0;
    font-size: large;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

 span {
    color: rgb(0, 89, 255);
}

p {
    font-weight: 900;
    opacity: .8;
}

a:nth-of-type(1) {
    color: black;
    opacity: .7;
    font-weight: 500;
}

a:nth-of-type(2) {
    color: rgb(0, 89, 255);
} 
input[type=text]:focus {
    outline: 0;
    border-bottom: 2px solid rgba(0,0,0,.8);
}

input[type=email]:focus {
    outline: 0;
    border-bottom: 2px solid rgba(0,0,0,.8);
}

input[type=password]:focus {
    outline: 0;
    border-bottom: 2px solid rgba(0,0,0,.8);
}
label{
display: none;
}