{% extends 'main.html' %}
{% block title %}done{% endblock %}
{% block body %}
<head>
    <style>
        .footer-clean , nav{
            display: none;
        }
    </style>
</head>
<body style="background: #1c1e1f; 
background: -webkit-linear-gradient(to right, #38393b, #1c1e1f);
background: linear-gradient(to right, #38393b, #1c1e1f);">
<div style="height: 100vh;" class="text-white d-flex justify-content-center align-items-center">
    <h2 style="text-transform: capitalize;">please check your email</h2>
</div>
</body>
{% endblock %}