{% extends 'main.html' %}
{% load static %}
{% block title %}login{% endblock %}

{% block body %}
<link rel= "stylesheet" href = "{% static 'login.css' %}">

<body>
<div  style="display: flex;
            justify-content: center;
            align-items: center;height: 90vh;" >
    <div class="form">
        <p><span> Login</span> Your Account</p>
        <form action="" method="post">
            {% csrf_token %}
               <input type="text" placeholder="Enter Your Username or Email" name="user">
                <input type="password" placeholder="Enter Your Password" name="password">
                <input type="submit" value="Login">
        </form>
        <a class="login-link" href="{% url 'accounts:user_register' %}">Create Account</a>
        <a class="login-link" href="{% url 'accounts:reset' %}">Forgot password</a>
    </div>
</div>
</body>
{% endblock %}