{% extends 'main.html' %} {% block title %}register{% endblock %} {% block body%} {% load static %}
<link rel="stylesheet" href="{% static 'signin.css' %}" />
<body>
  <div
    style="
       display: flex;
      justify-content: center;
      margin: 5rem 0;
    "
  >
    <div class="contain">
      <h1
        style="
          border-bottom: 1px solid gray;
          padding-bottom: 1rem;
          width: 18.125rem;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          color: rgb(40, 153, 198);
        "
      >
        Sign In
      </h1>
      <form
        action="{% url 'accounts:user_register' %}"
        style="display: flex; flex-direction: column"
        method="post"
      >
        {%csrf_token%} {{form}}
        <input type="submit" value="Sign In" />
      </form>
      <p>
        have an account ?
        <a class="login-link" href="{% url 'accounts:login' %}">Login</a>
      </p>
    </div>
  </div>
</body>
{% endblock %}
