input{
    border: 0;
    border-bottom: 1px solid rgba(95, 95, 95, 0.3);
    outline: 0;
    height: 2rem;
    font-size: large;
}
p{
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
}
label{
    color:  #2ab7d6;
font-size: small;
margin-bottom: 3px;
display: block;
margin-bottom: 1rem;
font-size: x-large;
font-weight: bold;
}