{% extends 'main.html' %} {% block title %}cart{% endblock %} {% block body %}
<h1>cart</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">image</th>
      <th scope="col">size</th>
      <th scope="col">color</th>
      <th scope="col">quantity</th>
      <th scope="col">price</th>
      <th scope="col">total price</th>
      <th scope="col">remove</th>
    </tr>
  </thead>
  <tbody>
    {% for c in cart %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{c.product.name}}</td>
      <td><img src="{{c.product.image.url}}" style="height:30px ; width: 30px;" alt="" /></td>
      <td>{{c.variants.size_variant.name}}</td>
      <td>{{c.variants.color_varian.name}}</td>
      <td>{{c.quantity}}</td>
      <td>
        {% if c.product.status != 'None' %} {{c.variants.total_price}}{%else%}
        {{c.product.total_price}}{%endif%}
      </td>
      <td>
        {% if c.product.status != 'None' %} {% widthratio c.variants.total_price 1 c.quantity %}
        {%else%}{% widthratio c.product.total_price 1 c.quantity %}{%endif%}
      </td>
      <td><a href="{% url 'cart:remove_cart' c.id %}">remove</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
total:{{total}}
{% endblock %}
