{% extends 'main.html' %} {% block title %}detail{% endblock %} {% block body %}
<h1>{{products.name}}</h1>
<h4>rate:{{products.average}}</h4>
<br />
<img
  style="width: 8rem; height: 8rem"
  src="{{products.image.url}}"
  alt=""
/><br />
<p>{{products.information|safe}}</p>
<div class="row">
  {% for img in image %}
  <img
    src="{{img.image.url}}"
    alt=""
    style="height: 200px; width: 200px"
  />{%endfor%}
</div>
<small>like: {{products.total_like}}</small>
<small>unlike: {{products.total_unlike}}</small>
{% if request.user.is_authenticated %} {% if is_like %}
<a
  href="{% url 'home:product_like'  products.id %}"
  class="btn btn-info {% if is_unlike %}disabled{% endif %}"
  >unlike</a
>
{% else %}
<a
  href="{% url 'home:product_like' products.id %}"
  class="btn btn-info {% if is_unlike %}disabled{% endif %}"
  >like</a
><br />
{% endif %} {% if is_unlike %}
<a
  href="{% url 'home:product_unlike' products.id %}"
  class="btn btn-info {% if is_like %}disabled{% endif %}"
  >dislike</a
>
{% else %}
<a
  href="{% url 'home:product_unlike' products.id  %}"
  class="btn btn-info {% if is_like %}disabled{% endif %}"
  >like</a
><br />
{% endif %} {% endif %} {% if products.discount %}
<h4 style="text-decoration: line-through">{{product.unit_price}}</h4>
<h3>{{product.total_price}}</h3>
{% else %}
<h3>{{product.total_price}}</h3>
{% endif %}
<hr />

{% if products.status == 'Size' %}
<form action="" method="post">
  {% csrf_token %} {% for data in variant %}<input type="radio" value =
  "{{data.id}}" {% if variants.id == data.id %} checked {% endif %} name =
  'select' onchange = "this.form.submit();">
  <a href=""><small>{{ data.size_variant }}</small> </a>
  {% endfor %}
</form>
{% elif products.status == 'Color' %}
<form action="" method="post">
  {% csrf_token %} {% for data in variant %}<input type="radio" value =
  "{{data.id}}" {% if variants.id == data.id %} checked {% endif %} name =
  'select' onchange = "this.form.submit();">
  <a href=""><small>{{ data.color_variant }}</small> </a>

  {% endfor %} {% endif %}
</form>

<hr />
<br />

{% if user.is_authenticated%}
<form method="post" action="{% url 'home:product_comment' products.id %}">
  {%csrf_token%} {{comment_form.as_p}}
  <button type="submit">send comment</button>
</form>
{%endif%}
<hr />
<br />
<hr />
{%for com in comment %}
<div class="p-2 m-2">
  {% if user.is_authenticated %}
  <a href="{% url 'home:comment_like' com.id %} " class="like m-2 cursor">
    <i class="fa fa-thumbs-o-up"
      ><span>like</span>&nbsp &nbsp{{com.total_like_commet}}</i
    ></a
  >
  {% endif %}
  <form method="post" action="{%url 'home:product_reply' products.id com.id %}">
    {%csrf_token%}
    <textarea
      name="comment"
      id="comment"
      class="form_control"
      rows="4"
      placeholder="reply ..."
      required
      oninvalid="setCustomValidty(لطفا فیلد را پر کنید)"
    ></textarea>
    <div class="mt_2">
      <button type="submit" class="btn btn_info">send reply</button>
    </div>
    {%for data in com.comment_reply.all %}
    <p>{{data.comment}}</p>
    {%endfor%}
    <p>{{com.comment}}</p>
    <small>{{com.rate}}</small>
  </form>
  {%endfor%} {% endblock %}

  <h1>similar products</h1>
  {% for tag in similar %}
  <a href="{% url 'home:detail'  tag.id %}">
    <img src="{{tag.image.url}}" alt="" style="width: 50px; height: 50px" />
  </a>
  {% endfor %}
</div>
