{% extends 'main.html' %} {% block title %}home{% endblock %} {% block body %}
<body style="background-color: white">
  <div
    style="
      font-family: sans-serif;
      color: black;
      font-size: 2rem;
      display: flex;
      align-items: center;
      flex-direction: column;
    "
  >
    <h1 style="color: black">hello bro</h1>
    <h2 style="font-size: 5rem; color: black">welcome home</h2>
    {% for cat in category %}
    <h1>{{cat.name}}</h1>
    <a href="{% url 'home:category' cat.id %}">
      <h1 style="font-size: 1.5rem">{{cat.name}}</h1>
      <img
        style="width: 8rem; height: 8rem"
        src="{{ cat.image.url }}"
        alt="not loaded"
      />
    </a>
    {% endfor %}
  </div>
</body>
{% endblock %}
