{% extends 'main.html' %} {% block title %}product{% endblock %}{% load static%}
{% block body%}
<link rel="stylesheet" href="{% static 'product.css' %}" />
<body style="background-color: white">
  <div class="d-flex flex-wrap mt-2">
    <div class="col-3 mt-5 d-flex flex-column">
      <div class="d-flex flex-column align-items-center">
      <!-- search-box -->
      <form method="post" action="{% url 'home:product_search' %}">
        {% csrf_token %} {{form}}
        <button type="submit">search</button>
      </form>
      <!-- category -->
      <div class="d-flex justify-content-between mt-3" style="width: 18rem;">
        {% for data in category %}
        <div>
        <a href="{{data.get_absolute_url}}">{{data.name}}</a>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-danger dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ></button>

            <div class="dropdown-menu">
            {% for info in data.sub.all %}<a href="{{info.get_absolute_url}}"
            >{{info.name}}</a
            >
            {%endfor%}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <hr>
    <br>
    <div class="toolbox">
      <form action="">
          <div class="toolbox-right">
            <input type = "submit" name = "price" value="expensive">
            <input type = "submit" name = "price" value="cheap">
            <input type = "submit" name = "create" value="old">
            <input type = "submit" name = "discount" value="most_discout">
            <input type = "submit" name = "favourite" value="most_popular">
            <input type = "submit" name = "sell" value="most_sell">
              <div style="display: none">
                  {{ filter.form.brand }}
                  {{ filter.form.color }}
                  {% if 'search' in request.GET %}
                  {{form}}
                  {%endif%}
                  {% comment %} {{ filter.form.size }} {% endcomment %}
              </div>
          </div><!-- End .toolbox-right -->
      </form>
    </div><!-- End .toolbox -->
  <hr>
    <br>
      <!-- double range slider -->
      <form action="">
      <div
        class="wrapper d-flex flex-column justify-content-center align-items-center">
        <div class="values">
          <span id="range1"> {{min_price}} </span>
          <span> &dash; </span>
          <span id="range2"> {{max_price}} </span>
        </div>
        <div class="containere">
          <div class="slider-track"></div>
          <input
            name="price_1"
            type="range"
            min="{{min_price}}"
            max="{{max_price}}"
            value="{{min_price}}"
            id="slider-1"
            oninput="slideOne()"
          />
          <input
            name="price_2"
            type="range"
            min="{{min_price}}"
            max="{{max_price}}"
            value="{{max_price}}"
            id="slider-2"
            oninput="slideTwo()"
          />
        </div>
      </div>
    </div>
      <div class="ms-3">
        <h4 class="mt-2">brand:</h4>
        {{ filter.form.brand }}
        <h4 class="mt-2">color:</h4>
        {{ filter.form.color }}
        {% comment %} <h4 class="mt-2">size:</h4>
        {{ filter.form.size}} {% endcomment %}
      </div>
      <div style="display: none">
        {{ filter.form.price }}
        {{ filter.form.favourite }}
        {{ filter.form.discount }}
        {{ filter.form.create }}
        {% if 'search' in request.GET %}
          {{form}}
        {%endif%}
      </div>

      <div>
        <button type="submit" class="btn btn-dark">submit</button>
      </div>
    </form>
    </div>
    <div class="col-9 row d-flex flex-wrap mt-2 p-3">
      {% for product in products %}
      <div
        class="col-3 offset-1 border-end border-start p-2 mt-2 d-flex flex-column align-items-center"
        style="height: 40vh;"
      >
        <a href="{{product.get_absolute_url}}" class="text-center text-decoration-none">
          <img style="width: 8rem; height: 8rem" class="text-center img-fluid" src="{{product.image.url}}" />
          <h1 style="font-size: 1.5rem;color: black" class="my-2">{{product.name}}</h1>
        </a>
        {% if product.discount %}
        <h4 style="text-decoration: line-through">{{product.unit_price}}</h4>
        <h3>{{product.total_price}}</h3>
        {% else %}
        <h3>{{product.total_price}}</h3>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if products.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{products.previous_page_number}}&{{data}}"
            >Previous</a
          >
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{products.previous_page_number}}&{{data}}"
            >{{products.previous_page_number}}</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="">Previous</a>
        </li>
        {% endif %}
        <li class="page-item {% if page_num == page_num %} active {% endif %}">
          <a class="page-link" href="?page={{products.number}}&{{data}}"
            >{{products.number}}</a
          >
        </li>
        {% if products.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{products.next_page_number}}&{{data}}"
            >{{products.next_page_number}}</a
          >
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{products.next_page_number}}&{{data}}">next</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="">next</a></li>
        {% endif %}
      </ul>
    </nav> 
  </div>
  <script src="{% static 'product.js' %}"></script>
</body>
{% endblock %}
